#indexpagetitle {
    padding-left: 22px;
    padding-right: 22px;
}

.imgcontainer img {
    width: 600px;
    padding-bottom: 1.1vw;
}

.userselectioncontainer {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    width: 15vw;
    max-width: 96px;
    min-width: 76px;
}

.userselectioncontainer img {
    width: 60px;
}

.userselectioncontainer span {
  white-space: nowrap;
}

.userselectioncontainer span:hover {
  color: #00cc00
}

#imgJugendlicherClicked, #imgElternClicked, #imgNeuClicked, #imgSeniorClicked {
    display: none;
}

.displaynone {
    display: none;
}

.whitelink:link, .whitelink:visited, .whitelink:link:active, .whitelink:visited:active {
  color: #ffffff;
}

.gmap_iframe {
    width: 100%;
    height: 92vh;
    max-height: 98vw;
}