#indexpagetitle {
    padding-left: 22px;
    padding-right: 22px;
}

.imgcontainer {
    line-height: 0px;
}

.imgcontainer * {
    width: 100%;
}

.iframecontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.iframecontainer iframe {
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 42em) { .imgcontainer * { padding-top: 2rem; } }
@media screen and (max-width: 42em) { .imgcontainer * { padding-top: 1rem; } }

.imgcontainer :first-child {
    padding-top: 0px;
}

#spannowrap {
    white-space: nowrap;
}

.userselectioncontainer {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    width: 15vw;
    max-width: 96px;
    min-width: 70px;
    font-size: 11px;
}

@media screen and (min-width: 64em) { .userselectioncontainer { font-size: 13px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .userselectioncontainer { font-size: 12px; } }
@media screen and (max-width: 42em) { .userselectioncontainer { font-size: 11px; } }

@media screen and (min-width: 64em) { h2 { font-size: 32px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { h2 { font-size: 28px; } }
@media screen and (max-width: 42em) { h2 { font-size: 24px; } }

@media screen and (min-width: 64em) { li { font-size: 18px; line-height: 28px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { li { font-size: 17px; line-height: 26px; } }
@media screen and (max-width: 42em) { li { font-size: 16px; line-height: 24px; } }

.userselectioncontainer img {
    width: 60px;
}

.userselectioncontainer span {
  white-space: nowrap;
}

.userselectioncontainer span:hover {
  color: #00cc00
}

#imgJugendlicherClicked, #imgElternClicked, #imgNeuClicked, #imgSeniorClicked {
    display: none;
}

.displaynone {
    display: none;
}

.whitelink:link, .whitelink:visited, .whitelink:link:active, .whitelink:visited:active {
  color: #ffffff;
}

.gmap_iframe {
    width: 100%;
    height: 92vh;
    max-height: 98vw;
}