---
---

.gsc-resultsbox-visible {
    text-align: left;
}

.gsc-above-wrapper-area {
    display: none;
}

.gcsc-more-maybe-branding-root {
    display: none;
}

.gsc-input-box > table {
    display: block;
}

.gsst_a .gscb_a {
    color: #00cc00 !important;
}

#gsc-i-id1, .gsc-wrapper, .gsc-table-result {
    font-family: Ubuntu !important;
    background-color: white;
}

#youthclubsmap {
    min-height: 74vh;
    z-index: 0;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    user-select: none;
}

@media screen and (max-width: 42em) { #youthclubsmap { min-height: 85vh; } }

#page_rightpanel {
    display: flex; 
    flex-direction: column; 
    position: fixed; 
    right: 17px; 
    justify-content: center; 
    align-items: center; 
    height: 98vh;
    z-index: 100;
}

#scroll_button {
    display: none;
    /*position: fixed;
    top: 24px;
    right: 24px;*/
    position: relative;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgba(27,31,35,.15);
    border-radius: 64px;
    box-shadow: 0 1px 15px rgba(27,31,35,.15);
    width: 48px;
    height: 48px;
    font-size: 26px;
    text-align: center;
}

#scroll_button:hover {
    color: #00cc00;
}

.emergencycall-link, .emergencycall-link:link, .emergencycall-link:hover, .emergencycall-link:active, .emergencycall-link:visited {
    color: red;
}

.emergencycall-link:before, .calendar-link:before, .imprint-link:before, .contact-link:before, .startpage-link:before, .hshvideo-link:before {
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    padding-right: 7px;
    font-size: 21px;
}

.external_link, .external_link:link, .external_link:hover, .external_link:active, .external_link:visited {
  color: #00cc00;
}

.link_in_text, .link_in_text:link, .link_in_text:hover, .link_in_text:active, .link_in_text:visited {
  color: #00cc00;
}

.external_link:after {
    font-family: FontAwesome;
    display: inline-block;
    /*vertical-align: middle;*/
    content: "\f08e";
    padding-left: 5px;
    font-size: 16px;
}

#header-menu > a:before {
    padding-right: 14px;
    width: 32px;
    font-size: 32px;
    text-align: center;
}

.link_to_search:before {
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    content: "\f002";
    font-size: 2.6rem;
    line-height: 79px;
}
@media screen and (max-width: 64em) { .link_to_search:before { font-size: 34px; line-height: 54px; } }
@media screen and (max-width: 42em) { .link_to_search:before { font-size: 25px; line-height: 42px; } }

.emergencycall-link:before {
    content: "\f095";
}

.hshvideo-link:before {
    content: "\f16a";
}

.calendar-link:before {
    content: "\f073";
}

.imprint-link:before {
    content: "\f129";
}

.contact-link:before {
    content: "\f086";
}

.startpage-link:before {
    content: "\f015";
}

#header-menu-button {
    background-color: transparent;
    border: none;
    outline: none;
}

#header-menu {
    display: none;
    position: absolute;
    top: -7px;
    right: 14px;
    z-index: 100;
    width: auto;
    padding: 8px 16px 7px 17px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(27,31,35,.15);
    border-radius: 7px;
    box-shadow: 0 1px 15px rgba(27,31,35,.15);
    text-align: left;
}

.header-menu-item {
    display: block;
    padding: 4px 8px 4px 10px;
    overflow: hidden;
    color: #24292e;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  width: auto;
  min-width: 5.5rem;
  margin: 0px;
  text-align: center;
  vertical-align: center;
}

@media screen and (max-width: 64em) { .flex-container > div { min-width: 4.1rem; } }
@media screen and (max-width: 42em) { .flex-container > div { min-width: 3.0rem; } }

#header-menu-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#header-menu-icon img {
    width: 2.6rem;
}

@media screen and (max-width: 64em) { #header-menu-icon img { width: 2.0rem; } }
@media screen and (max-width: 42em) { #header-menu-icon img { width: 1.5rem; } }

#indexpagetitle {
    margin: auto 22px;
}

.mediacontainer {
    line-height: 0px;
}

.mediacontainer *, #topmedia {
    display: block;
    margin: auto;
    border-radius: 0.5rem;
    border: 2px solid darkgrey;
}

@media screen and (min-width: 64em) { .mediacontainer * { max-height: 92vmin; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .mediacontainer * { max-height: 92vmin; } }
@media screen and (max-width: 42em) { .mediacontainer * { max-height: 92vmin; } }

/* source: https://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/ */
.iframecontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.iframecontainer iframe {
    border: 0px;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 42em) { .mediacontainer * { margin-top: 2rem; } }
@media screen and (max-width: 42em) { .mediacontainer * { margin-top: 1rem; } }

.mediacontainer :first-child {
    margin-top: 0px;
}

@media screen and (min-width: 64em) { .mediacontainer  { margin-bottom: 1rem; } }

.nowrap {
    white-space: nowrap;
}

.userselectioncontainer {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    width: 15vw;
    max-width: 96px;
    min-width: 70px;
    font-size: 11px;
}

.youthclub {
    display: inline-block;
    cursor: pointer;
    max-width: 109px;
    width: 109px;
    padding-bottom: 18px;
    font-size: 13px;
}

.youthclub img {
    max-height: 58px;
    max-width: 92px;
}

@media screen and (min-width: 64em) { .youthclub { padding-top: 10px; width: 134px; max-width: 134px; } }
@media screen and (min-width: 64em) { .youthclub img { max-height: 66px; } }


@media screen and (min-width: 64em) { .userselectioncontainer { font-size: 13px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .userselectioncontainer { font-size: 12px; } }
@media screen and (max-width: 42em) { .userselectioncontainer { font-size: 11px; } }

@media screen and (min-width: 64em) { h2 { font-size: 32px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { h2 { font-size: 28px; } }
@media screen and (max-width: 42em) { h2 { font-size: 24px; } }

@media screen and (min-width: 64em) { li { font-size: 18px; line-height: 28px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { li { font-size: 17px; line-height: 26px; } }
@media screen and (max-width: 42em) { li { font-size: 16px; line-height: 24px; } }

.userselectioncontainer img {
    width: 60px;
}

.userselectioncontainer span, .youthclub span {
  white-space: nowrap;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.userselectioncontainer span:hover, .youthclub span:hover {
  color: #00cc00
}

#imgJugendlicherClicked, #imgElternClicked, #imgNeuClicked, #imgSeniorClicked {
    display: none;
}

.displaynone {
    display: none;
}

.whitelink:link, .whitelink:visited, .whitelink:link:active, .whitelink:visited:active {
  color: #ffffff;
}

.gmap_iframe {
    width: 100%;
}

@media screen and (min-width: 64em) { .gmap_iframe { height: 82vmin; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .gmap_iframe { height: 92vmin; } }
@media screen and (max-width: 42em) { .gmap_iframe { height: 90vmin; } }

#gmap {
    resize: both;
    overflow: hidden;
    border: 2px solid lightgrey;
    margin: auto;
    border-radius: 0.5rem;
    max-width: 100%;
    max-height: 94vh;
}

@media screen and (min-width: 64em) { #gmap { width: 500px; height: 250px; } }
@media screen and (min-width: 42em) and (max-width: 64em) { #gmap { width: 100%; height: 96vmin; } }
@media screen and (max-width: 42em) { #gmap { height: 92vmin; } }

#gmap_mini {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.activelink, .activelink:link, .activelink:hover, .activelink:active, .activelink:visited {
  color: #00cc00;
}

.main-content pre {
    font-family: Ubuntu Mono, monospace;
    margin-bottom: 0px;
    color: #777777;
    background-color: #00000007;
    border: solid 2px lightgrey;
    border-radius: 0.5rem;
}

.weeklyschedule {
    border: solid 2px lightgrey;
    border-radius: 0.5rem;
    max-width: 600px;
    display: inline-block;
}

#weeklyschedule {
    text-align: left;
    display: inline-block;
    padding: 0.6rem 0.9rem;
    font-size: 1rem;
}

@media screen and (max-width: 30em) { #weeklyschedule { font-size: 0.69rem; } }

#activities {
    max-width: 80%;
    display: inline-block;
    margin: auto;
}

/* max-height with keeping aspect ratio via auto width */
@media screen and (min-width: 21em) { #topmedia { max-height: 28vh; width: auto; } }
@media screen and (max-width: 21em) { #topmedia { width: 333px; } }

#historyback, #historyforward {
    visibility: hidden;
}

.inline {
    display: inline;
}
