/* 
source 1: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
source 2: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp 
*/
.container {
    position: relative;
    display: inline-block;
    padding-bottom: 17px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    width: 98px;
}
/* hide browser's default radio button */
.container input {
    display: none;
}
/* create custom radio button */
.checkmark {
    position: absolute;
    top: 0px;
    left: 40px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}
/* change background on mouse-over */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
/* change background when checked */
.container input:checked ~ .checkmark {
    background-color: #4CAF50;
}
/* show indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
