---
---

@import "{{ site.theme }}";

html {
  scrollbar-width: none; /* hide scrollbars in Firefox 64 */
}

::-webkit-scrollbar { 
    display: none; /* hide scrollbars in Chrome and Safari */
}

body {
  font-family: Ubuntu, Open Sans, sans-serif;
  color: #777777;
}

table a, table a:link, table a:hover, table a:visited, table a:active {
  text-decoration: none;
  cursor: pointer;
  color: #00cc00;
}

.page-header {
  padding: 1rem;
  background-image: linear-gradient(90deg, #00cc00, #00cc00);
}

.main-content h2 {
  color: #00cc00;
}

.project-tagline {
  margin-bottom: 0rem;
  visibility: collapse;
}

thead {
  visibility: collapse;
}

.main-content {
  text-align: center;
}

.main-content table {
  display: inline;
}

.main-content table th, .main-content table td {
    padding: 0.2rem 0.3rem;
    border: 0px;
    vertical-align: top;
}

.main-content ul {
  list-style: none;
  padding-left: 0px;
}

.main-content li {
  color: lightgrey;
}

a, a:link, a:hover, a:active, a:visited {  
  text-decoration: none;
  cursor: pointer;
}

a, a:link, a:visited {
  color: #777777
}

a:hover, a:active {
  color: #00cc00
}