---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem;
  background-image: linear-gradient(90deg, #0ebb00, #248000);
}

.whitelink:link, .whitelink:visited, .whitelink:link:active, .whitelink:visited:active {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.project-tagline {
  margin-bottom: 0rem;
  visibility: collapse;
}

thead {
  visibility: collapse;
}

.main-content table {
  display: inline;
}

.main-content table th, .main-content table td {
    padding: 0.2rem 0.3rem;
    border: 0px;
    vertical-align: top;
}

img.svg {
    width: 28px;
}

.map {
  width: 800px;
  height: 600px;
  max-width: 100%;
}
