---
---

@import "{{ site.theme }}";

html {
  scrollbar-width: none; /* hide scrollbars in Firefox 64 */
}

::-webkit-scrollbar { 
    display: none; /* hide scrollbars in Chrome and Safari */
}

body {
  font-family: Ubuntu, Open Sans, sans-serif;
  color: #777777;
}

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
  color: #00cc00;
}

.page-header {
  padding: 1rem;
  background-image: linear-gradient(90deg, #00cc00, #00cc00);
}

.main-content h2 {
  color: #00cc00;
}

.whitelink:link, .whitelink:visited, .whitelink:link:active, .whitelink:visited:active {
  color: #ffffff;
}

.project-tagline {
  margin-bottom: 0rem;
  visibility: collapse;
}

thead {
  visibility: collapse;
}

.main-content {
  text-align: center;
}

.main-content table {
  display: inline;
}

.main-content table th, .main-content table td {
    padding: 0.2rem 0.3rem;
    border: 0px;
    vertical-align: top;
}

.gmap_iframe {
    width: 100%;
    height: 92vh;
    max-height: 98vw;
}

.main-content ul {
  list-style: none;
  padding-left: 0px;
}

.main-content li {
  color: lightgrey;
}

li a:link, li a:hover, li a:visited, li a:active {
  color: #777777
}
