---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem;
  background-image: linear-gradient(90deg, #0ebb00, #248000);
}

.whitelink:link, .whitelink:visited, .whitelink:link:active, .whitelink:visited:active {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.project-tagline {
    margin-bottom: 0rem;
}
