<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/additional.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <!-- source: https://fonts.google.com/?query=Ubuntu&selection.family=Ubuntu|Ubuntu+Mono  //-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono" rel="stylesheet"> 
    
    <link rel="stylesheet" href="{{ '/calendar/fullcalendar.min.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <!-- https://www.w3schools.com/icons/fontawesome_icons_intro.asp //-->    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- hide scrollbars on index page //-->    <!-- hide scrollbars on index page //-->
    {% if page.id == 'index' %}
    <style type="text/css">
      html { scrollbar-width: none; /* hide scrollbars in Firefox 64 */ }
      ::-webkit-scrollbar { display: none; /* hide scrollbars in Chrome and Safari */ }
    </style>
    {% else %}
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        if (history.length > 2) {
          document.getElementById('historyback').style.visibility = 'visible';
        }
      });
    </script>
    {% endif %}

    <!-- favicon syntax source: https://www.mozilla.org //-->
    <!-- favicon.ico created with faviconit.com //-->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ '/images/favicon/favicon-180.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ '/images/favicon/favicon-196.png' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/images/favicon/favicon.ico' | relative_url }}">
    
    <!-- source: ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js //-->
    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <!-- source: https://cdn.jsdelivr.net/npm/marked/marked.min.js //-->
    <script src="{{ '/assets/js/marked.min.js' | relative_url }}"></script>

    <script src="{{ '/assets/js/map.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/indexpage.js' | relative_url }}"></script>

    <script>
      // source: https://www.w3schools.com/howto/howto_js_toggle_hide_show.asp
      function toggleMenu() {        
        var header_menu = document.getElementById('header-menu');
        if (header_menu.style.display === 'block') {
          header_menu.style.display = 'none';
        }
        else {
          header_menu.style.display = 'block';
        }
      }

      window.onclick = function(event) {
        if (!event.target.matches('.header-menu-image')) {
          document.getElementById('header-menu').style.display = 'none';
        }
      }
    </script>


  </head>
  <body>
    <button onclick="topFunction()" id="scroll_top_button" title="Scroll to top"><i class="fa fa-chevron-up"></i></button>

    <header class="page-header" role="banner">

    <div class="flex-container">
      <div></div>
      <div><h1 class="project-name">
          <a class="whitelink" href="javascript:history.back()" id='historyback'><b>&lt;</b></a
          ><a class="whitelink" id="indexpagetitle" href="/{{ site.github.repository_name }}">hsh4you</a
          ><a class="whitelink" href="javascript:history.forward()" id='historyforward'><b>&gt;</b></a>
      </h1></div>
      <!-- source: https://www.w3schools.com/howto/howto_js_dropdown.asp //-->
      <div id="header-menu-icon" onclick="toggleMenu()"><img class="header-menu-image" src="/images/menu.svg" />
      </div>
    </div>
    </header>
    <div style="position: relative">
        <div id="header-menu" class="">
          <a class="header-menu-item startpage-link" href="/{{ site.github.repository_name }}">Startseite</a>
          <a class="header-menu-item calendar-link" href="/calendar/calendar.html">Veranstaltungskalender</a>
          <a class="header-menu-item contact-link" href="/Kontakt.html">Kontakt</a>
          <a class="header-menu-item imprint-link" href="/Impressum.html">Impressum</a>  
          <a class="header-menu-item emergencycall-link" href="/Notrufnummern/Notrufnummern.html">Notrufnummern</a>
        </div>
    </div>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>


    <script>
    // source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top

    //Get the button
    var mybutton = document.getElementById("scroll_top_button");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > screen.height / 5|| document.documentElement.scrollTop > screen.height / 5) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      $("html").css("overflow", "hidden");
      $(document).on('touchmove', function(e) { e.preventDefault(); });
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
      $("html").css("overflow", "auto");
      //document.body.smoothScrollTo(0,0);
      //document.smoothScrollTo(0,0);
    }
    </script>
  </body>
</html>
