<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/additional.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <!-- source: https://fonts.google.com/?query=Ubuntu&selection.family=Ubuntu|Ubuntu+Mono  //-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono" rel="stylesheet"> 
    
    <link rel="stylesheet" href="{{ '/calendar/fullcalendar.min.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- hide scrollbars on index page //-->
    {% if page.id == 'index' %}
    <style type="text/css">
      html { scrollbar-width: none; /* hide scrollbars in Firefox 64 */ }
      ::-webkit-scrollbar { display: none; /* hide scrollbars in Chrome and Safari */ }
    </style>
    {% endif %}

    <!-- favicon syntax source: https://www.mozilla.org //-->
    <!-- favicon.ico created with faviconit.com //-->
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ '/images/favicon/favicon-180.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ '/images/favicon/favicon-196.png' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/images/favicon/favicon.ico' | relative_url }}">
    
    <!-- source: ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js //-->
    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <!-- source: https://cdn.jsdelivr.net/npm/marked/marked.min.js //-->
    <script src="{{ '/assets/js/marked.min.js' | relative_url }}"></script>

    <script src="{{ '/assets/js/map.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/indexpage.js' | relative_url }}"></script>
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name"><a class="whitelink" href="javascript:history.back()"><b>&lt;</b></a><a class="whitelink" id="indexpagetitle" href="/{{ site.github.repository_name }}">hsh4you</a><a class="whitelink" href="javascript:history.forward()"><a class="whitelink" href="javascript:history.forward()"><b>&gt;</b></a></h1>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
